.aboutus {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 156px;
  box-sizing: border-box;
  gap: 185px;
  background-image: url(./images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  line-height: normal;
  letter-spacing: normal;;
}
.navbar,
.nutribalance-parent {
  align-self: stretch;
  display: flex;
  max-width: 100%;
}
.navbar {
  background-color: #fdf8e3;
  overflow: hidden;
  align-items: flex-start;
  padding: 25px 0;
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: left;
  font-size: 32px;
  color: #000;
  font-family: Outfit;
}
.nutribalance-parent {
  flex: 1;
  align-items: center;
  justify-content: center;
  gap: 280px;
}
.nutribalance3 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}
.balance {
  color: #3bd027;
}
.navigation-links {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  text-align: left;
  font-size: 24px;
  color: #9c9c9c;
  font-family: Outfit;
}
.aboutus2,
.home {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.home {
  cursor: pointer;
}
.aboutus2 {
  color: #000;
}
.authentication {
  display: flex;
  align-items: center;
  gap: 20px;
}
.signin {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: 32px;
  font-weight: 500;
  color: #000;
  display: inline-block;
}
.content,
.signin,
.signforfree {
  text-align: left;
  font-family: Outfit;
}
.signforfree {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: 32px;
  font-weight: 500;
  color: #3bd027;
  display: inline-block;
}
.content {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  padding: 0 76px 0 77px;
  box-sizing: border-box;
  max-width: 100%;
  font-size: 36px;
  color: #000;
}
.nutribalance-is-a {
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
@media screen and (max-width: 1200px) {
  .nutribalance-parent {
    gap: 140px;
  }
}
@media screen and (max-width: 1050px) {
  .navigation-links {
    display: none;
  }
  .nutribalance-is-a {
    font-size: 29px;
  }
}
@media screen and (max-width: 750px) {
  .aboutus {
    gap: 92px;
  }
  .nutribalance-parent {
    gap: 70px;
  }
  .content {
    padding-left: 38px;
    padding-right: 38px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .aboutus {
    gap: 46px;
  }
  .navigation-links,
  .nutribalance-parent {
    gap: 35px;
  }
  .authentication {
    display: none;
  }
  .nutribalance-is-a {
    font-size: 22px;
  }
}
